#search {
    margin: 1.5em 0 ;
    display: flex;
    justify-content: center;
}

.search__description, .search__button {
    border: 1px solid gray;
    border-radius: 5px;
    font-size: .9em;
    padding: .7em;
}

.search__description {
    width: 70vw;
}

@media screen and (min-width: 768px) {
    .search__description {
        width: 40vw;
    }

    .search__description, .search__button {
        font-size: 1em;
    }
}

@media screen and (min-width: 1024px) {
    #search {
        margin: 1.5em 0;
    }
    
    .search__description, .search__button {
        font-size: 1.2em;
        padding: .6em;
    }
}

@media screen and (min-width: 1440px) {
    #search {
        /* display: flex;
        justify-content: center; */
        margin: 2em 0;
    }
    
    .search__description, .search__button {
        font-size: 1.5em;
        padding: .5em;
    } 
    
    .search__description {
        width:40vw;
    }
}






