.search {
    display: flex;
    justify-content: center;
    margin-top: 1.2em;
}

.search__description, .search__button {
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1em;
    padding: .8em;
} 

.search__description {
    width:40vw;
}


@media screen and (max-width: 1024px) {
    .search {
        margin-top: 1em;
    }
    
    .search__description, .search__button {
        padding: .6em;
    }
}


@media screen and (max-width: 768px) {
    .search__description {
        width: 40vw;
    }
}

@media screen and (max-width: 425px) {
    .search {
        margin-top: .8em;
    }
    
    .search__description, .search__button {
        font-size: .9em;
        padding: .7em;
    }

    .search__description {
        width: 50vw;
    }
}